$tool-bg-color: #bfbda7;
$new-bg-color: #fe4714;
$pressing-bg-color: #847e96;
$we-bg-color: #d0ff71;
$curator-bg-color: #993333;
$community-bg-color: #3aaafa;
$feel-bg-color: #41907a;
$friend-bg-color: #e3c4e5;
